<div class="row">
    <h2 class="col-sm-4 col-md-offset-2">Top 10 Scores</h2>
    <h2 class="col-sm-4 col-md-offset-2">Most Recent Scores</h2>
</div>
<br>
<div class="row">
    <ol class="col-sm-6 list-group">
      <li ng-repeat="item in scores | orderBy:'score':true | limitTo:10" class="list-group-item center">
        {{ item.score }}</li>
    </ol>
    <ol class="col-sm-6 list-group">
      <li ng-repeat="item in scores | orderBy:'id':true | limitTo:10" class="list-group-item center">
        {{ item.score }}</li>
    </ol>
</div>

