<form name="register" class="center">
  <div class="form-group">
    <label for="username">Username</label><br>
    <input type="text" id="username" ng-model="username" placeholder="Username" required />
  </div>
  <div class="form-group">
    <label for="email">Email</label><br>
    <input type="text" id="email" ng-model="email" placeholder="Email" required />
  </div>
  <div class="form-group">
    <label for="password">Password</label><br>
    <input type="text" id="password" ng-model="password" placeholder="Password" 
    required /><br><br>
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="!register.$valid" 
  ng-click="submit()">Submit</button><br><br>
</form>